@charset "utf-8";
 /* CSS Document */

body{
  background-color: green
}

#container{
  width:1020px;
  margin:0 auto ;
}
 header{
   background-color:red;
   width:100%;
   height:150px;
 }

 nav{

     background-color:yellow;
     width:100%;
     height:35px;
     margin-top:15px
   }
 #banana{
   width:330px;
   background-color: rgba(237,224,196,1.00);
   height:400px;
   float:left;
   margin-right:15px


 }
 #memo{
   width:330px;
   background-color: rgba(237,224,146,1.00);
   height:400px;
   float:left;
   margin-right:15px

 }
 #entertainment{
   width:330px;
 background-color: rgba(237,224,196,1.00);
 height:400px;
 float:left;


 }
footer{
  width:100%;
background-color:red;
height:35px;
clear: both;
}
